* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.body {
    width: 1280px;
    margin: auto;
}

.name-logo {
    margin-top: 63px;
}

.header-logo {
color: #000;
font-family: Roboto;
font-size: 80px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.header-logo span {
    color: #4BCAFF;
    font-family: Roboto;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.header-menu ul {
    display: flex;
    justify-content: center;
    background-color: #35444F;
    margin-top: 40px;
}

.header-menu-item:hover {
    background-color: #222F3A;
}

.header-menu-item {
    color: #FFF;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-left: 0.5px solid #FFFFFF;
    padding: 24px 40px;
    height: 69px;  
}

.header-menu-item.right {
    border-right: 0.5px solid #FFFFFF;
}

.header-menu-item a:visited {
    color: #FFF;    
}

.main {
    margin-top: 49px;
    display: flex;        
}

.main-menu {
    display: flex;
    flex-direction: column;
    width: 344px;
    height: 399px;
    border: 1px solid #495863;
    background: rgba(0, 0, 0, 0.00);
}

.main-menu-item {
    height: calc(100% / 5);
    color: #495863;
    font-family: Roboto;
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    padding-left: 44px;
    padding-top: 26px;
}

.main-menu-item:hover {
    background-color: #DBDBDB;
}

.main-menu-item a:visited {
    color: #495863;
}

.content {
    width: 885px;
    margin-left: 52px;
    margin-bottom: 54px;
}

.border-main-img {    
    height: 529px;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 37px;
}

.main-img:hover {
    transition: 1s;
    transform: scale(1.3);
}

.main-text {
    margin-top: 13px;
    color: #2C2C2C;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.footer {
    display: flex;
    background-color: #63696E7A;
    justify-content: space-between;
    margin-bottom: 30px;
}

.footer-menu {
    display: flex;    
    padding: 20px 40px;    
}

.footer-menu-item {
    color: #0C1927;
    font-family: Roboto;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    margin-right: 20px;    
}

.footer-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-text span{
    color: #010101;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    padding-right: 40px;
}

.footer-menu-item a:visited {
    color: #010101;
}

.footer-menu-item a:hover {
    color: #3181A6;
    text-decoration: underline;
}

